body{
    font-size: 1.2em;
   font-family: lato;
   /* background-image: url(https://live.staticflickr.com/1903/43196225710_504164ff12_h.jpg);*/
}


.back-1, .back-2{
     
     
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 


.back-1 {
        min-height: 1000px;
    background-image: url(https://live.staticflickr.com/1903/43196225710_84e6bd6c29_k.jpg);

}
.back-2 {
       min-height: 700px;
     background-image: url(https://live.staticflickr.com/4870/44169303830_0f7035362e_k.jpg);
     
}

.text-center{
   /* padding-top: 40%;
    */
    font-size: 5rem;
}